{% extends 'base.html' %}
{% load static %}

{% block title %}
    Médicos
{% endblock title %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock styles %}


{% block content %}
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-3" id="profile-area">
                    <div id="image-profile" style="background-image: url('/media/{{profile.image}}');"></div>
                    
                    {% if profile.role == 1 %}
                        <p class="badge badge-primary text-center" id="badge-role"><i class="fa fa-building"></i> Administrador</p>
                        {% elif  profile.role == 2 %}
                            <p class="badge badge-primary text-center" id="badge-role"><i class="fa fa-user-md"></i> Doctor(a) </p>
                        {% else %}
                            <p class="badge badge-primary text-center" id="badge-role"><i class="fa fa-user"></i> Paciente</p>
                    {% endif %}

                    
                    {% if profile.user.id == request.user.id  %}
                        <a href="#" id="icon-edit"><i class="fa fa-edit"></i></a>
                    {% endif %}
                        
                      <ul class="list-group">
                          <li class="list-group-item">Nome: {{profile.user.get_full_name | default:"Sem nome"}}</li>
                          <li class="list-group-item">Usuário: {{profile.user.username | default:"Sem usuário"}}</li>
                          <li class="list-group-item">Email: {{profile.user.email | default:"Sem e-mail"}}</li>
                          <li class="list-group-item">Nascimento: {{profile.birthday | date:'d/m/y' | default:"Sem data"}}</li>

                          
                          {% if profile.role == 2 %}
                              <li class="list-group-item">Nota: {{profile.show_scoring_average }}</li>
                              <li class="list-group-item">Especialidades: {{ profile.specialties.all | join:". "}}</li>
                          {% endif %}
                      </ul>  
                </div>
                
                {% if profile.role == 1 or profile.role == 3 %}
                    <div class="col-xs-12 col-md-9" id="favorites-area">
                        <div class="alert alert-info">Total de favoritos: {{favorites | length}}</div>
                        
                        {% if request.GET.msg %}
                            <div class="alert alert-{{request.GET.type}}">{{ request.GET.msg }}</div>
                        {% endif %}
                            
                        <div class="row">
                            
                            {% for favorite in favorites %}
                                <div class="col-xs-12 col-md-4 col-lg-4">
                                    <div class="card mb-4">
                                        <div class="image-circle" style="background-image: url('/media/{{favorite.image}}');"></div>
                                        <div class="card-body">
                                            <h5 class="card-title">{{favorite.user.username}}</h5>
                                            <h6>Nota: {{favorite.show_scoring_average}} <i class="fa fa-star"></i></h6>
                                            <ul class="specialties">
                                                
                                                {% for speciality in favorite.specialties.all %}
                                                    <li>{{speciality}}</li>
                                                {% endfor %}
                                                <div class="addresss mb-2">
                                                    {{favorite.addresses.first.address | default:"Nenhum endereço."  |  slice:":15"}}...
                                                </div>
                                                <a href={% url 'profile'  favorite.id %}  class="btn btn-primary btn-card">Ver médico</a>
                                                
                                                {% if user.is_authenticated %}
                                                    <form action=" {% url 'medic-favorite-remove' %} " method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="id" value="{{favorite.id}}">
                                                        <input type="hidden" name="page" value="{{request.GET.page}}">
                                                        <button type="submit" class="btn btn-danger btn-card"><i class="fa fa-heart"></i>Remover</button>
                                                    </form>
                                                {% endif %}
                                                    
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}                 
                        </div>
                        <div class="row">
                            <nav aria-label="Page navigation" class="navigation">
                                <ul class="pagination">
                                    
                                    {% if favorites.has_previous %}
                                        <li class="page-item"><a href="?page=1" class="page-link">&laquo, Primeiro</a></li>
                                        <li class="page-item"><a href="?page={{ favorites.previous_page_number}}" class="page-link">Anterior</a></li>
                                    {% endif %}
                                        <li class="page-item"><a href="#" class="page-link">Página {{ favorites.number }} de {{ favorites.paginator.num_pages }}.</a></li>
                                        
                                        {% if favorites.has_next %}
                                            <li class="page-item"><a href="?page={{ favorites.next_page_number }}" class="page-link">Prócimo</a></li>
                                            <li class="page-item"><a href="?page={{ favorites.paginator.num_pages }}" class="page-link">Último &raquo;</a></li>
                                        {% endif %}                                           
                                </ul>
                            </nav>
                        </div>
                    </div>    
                    {% else %}
                    <div class="col-xs-12 col-md-3" id="addresses-area"></div>
                    <div class="col-xs-12 col-md-6" id="ratings-area"></div>
                {% endif %}                
            </div>
        </div>
    </div>
{% endblock content %}
    
    